name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"] # Use a specific version for consistency
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip' # Cache pip dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Analysing the code with pylint
      run: |
        PYTHON_FILES=$(git ls-files '*.py' | grep -v 'docs/' | grep -v 'resources/')
        if [ -n "$PYTHON_FILES" ]; then
          pylint $PYTHON_FILES
        else
          echo "No Python files found for Pylint scan. Skipping Pylint."
        fi
